<div id="plugin_container" class="eqLogic-widget eqLogic allowResize" style="width:#width#;height:#height#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#; #style#" data-category="" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" >
  <span class="statusCmd" style="position : absolute;left : 5px; width : 30px;z-index: 1030;"></span>
  <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#" style="margin-top: 2px;margin-right: 2px;">
    <i class="fas fa-sync"></i>
  </span>
  <span class="cmd cmd-widget" data-cmd_id="#refresh_id#" style="display:none;"></span>
  <center class="widget-name"><a href="#eqLink#" style="font-size:1.1em;#hideEqLogicName#">#name_display#</a></center>
<div style="display: inline-block;padding-top:4px;margin-left:5px;">
  <div class="tooltips#info#" data-cmd_id="#info_id#" style="background: url('plugins/eleroha/core/template/images/#info_image#') no-repeat center; background-size: 100% 100%; width: 110px; height: 115px;#info_display#"></div>
</div>

<div style="display: inline-block;padding-top:4px;padding-bottom:3px;margin-left:5px;">
  <div class="tooltips" data-cmd_id="#up_id#" style="text-align:center;padding-top:4px;margin-left:5px;#up_display#">
    <a class="btn btn-xs btn-default action cmdName tooltips #up_id#_clickCmd" title="#up_name#" style="background-color: #3498db; border-color: transparent; margin-top: 2px;">#up_name#</a>
  </div>
  <div class="tooltips" data-cmd_id="#stop_id#" style="text-align:center;padding-top:4px;margin-left:5px;#stop_display#">
    <a class="btn btn-xs btn-default #stop_id#_clickCmd" title="#stop_name#" style="background-color: #3498db; border-color: transparent; margin-top: 2px;">#stop_name#</a>
  </div>
  <div class="tooltips" data-cmd_id="#down_id#" style="text-align:center;padding-top:4px;margin-left:5px;#down_display#">
    <a class="btn btn-xs btn-default #down_id#_clickCmd" title="#down_name#" style="background-color: #3498db; border-color: transparent; margin-top: 2px;">#down_name#</a>
  </div>
  <div class="tooltips" data-cmd_id="#tilt_id#" style="text-align:center;padding-top:4px;margin-left:5px;#tilt_display#">
    <a class="btn btn-xs btn-default #tilt_id#_clickCmd" title="#tilt_name#" style="background-color: #3498db; border-color: transparent; margin-top: 2px;">#tilt_name#</a>
  </div>
  <div class="tooltips" data-cmd_id="#intermediate_id#" style="text-align:center;padding-top:4px;margin-left:5px;#intermediate_display#">
    <a class="btn btn-xs btn-default #intermediate_id#_clickCmd" title="#intermediate_name#" style="background-color: #3498db; border-color: transparent; margin-top: 2px;">#intermediate_name#</a>
  </div>
</div>
<script>
  $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
   jeedom.cmd.execute({id: '#refresh_id#'});
  });

  $('.eqLogic[data-eqLogic_id=#id#] .#up_id#_clickCmd').on('click', function () {
    $('.eqLogic[data-eqLogic_id=#id#] .statusCmd').append('<i data-eleroha="processing" class="fa fa-rss" style="margin-top: 3px;margin-right: 3px;"></i>');
    jeedom.cmd.execute({id: '#up_id#', value: $(this).val()});
    setTimeout(function(){$("[data-eleroha=processing]").remove();}, 2500);
  });

  $('.eqLogic[data-eqLogic_id=#id#] .#stop_id#_clickCmd').on('click', function () {
    $('.eqLogic[data-eqLogic_id=#id#] .statusCmd').append('<i data-eleroha="processing" class="fa fa-rss" style="margin-top: 3px;margin-right: 3px;"></i>');
    jeedom.cmd.execute({id: '#stop_id#', value: $(this).val()});
    setTimeout(function(){$("[data-eleroha=processing]").remove();}, 2500);
  });

  $('.eqLogic[data-eqLogic_id=#id#] .#down_id#_clickCmd').on('click', function () {
    $('.eqLogic[data-eqLogic_id=#id#] .statusCmd').append('<i data-eleroha="processing" class="fa fa-rss" style="margin-top: 3px;margin-right: 3px;"></i>');
    jeedom.cmd.execute({id: '#down_id#', value: $(this).val()});
    setTimeout(function(){$("[data-eleroha=processing]").remove();}, 2500);
  });

  $('.eqLogic[data-eqLogic_id=#id#] .#tilt_id#_clickCmd').on('click', function () {
    $('.eqLogic[data-eqLogic_id=#id#] .statusCmd').append('<i data-eleroha="processing" class="fa fa-rss" style="margin-top: 3px;margin-right: 3px;"></i>');
    jeedom.cmd.execute({id: '#tilt_id#', value: $(this).val()});
    setTimeout(function(){$("[data-eleroha=processing]").remove();}, 2500);
  });

  $('.eqLogic[data-eqLogic_id=#id#] .#intermediate_id#_clickCmd').on('click', function () {
    $('.eqLogic[data-eqLogic_id=#id#] .statusCmd').append('<i data-eleroha="processing" class="fa fa-rss" style="margin-top: 3px;margin-right: 3px;"></i>');
    jeedom.cmd.execute({id: '#intermediate_id#', value: $(this).val()});
    setTimeout(function(){$("[data-eleroha=processing]").remove();}, 2500);
  });
</script>
</div>
